h1{
    background: orangered;
    color: white;
    padding: 20px;
}
div ul{
    display: flex;
    list-style-type: none;
    padding: 0 0;
    font-size: 1.25em;
}
hr{
    height: 1px;
    background-color: orangered;
    border: none;
}

a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;  
}
div ul li:hover{
    align-items: center;
    background: orangered;
}